:root {
  --color-dark: #111a23;
  --color-white: rgb(255,255,255);
  --color-accent: #f1894e;
  --ui-background: var(--color-dark);
  --ui-border: rgba(var(--color-white), 15%);
  --text-01: var(--color-white);
  --text-02: rgba(var(--color-white), 40%);
  --type-large: 24px;
  --type-medium: 20px;
  --type-medium: 20px;
  --type-base: 16px;
}

body {
  background-color: var(--ui-background);
  color: var(--text-01);
  font-size: 16px;
}

.lead {
  font-size: var(--type-large);
  line-height: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

