:root {
  --blue-dark: #262B33;
  --blue-darker: #14171c;
  --white: 255,255,255;
  --heading: 36px;
  --lead: 24px;
  --caption: 16px;
  --accent: #4f73ce;
  --primary: #79f5f6;
  --gutter: 5vw;
}

@media screen and (min-width: 740px) {
  :root {
    --heading: 44px;
  }
}

html, 
body {
  height: 100%;
}

body {
  background-color: var(--blue-darker);
  color: rgba(var(--white), .7);
  font-family: Inter, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 2rem auto;
  font-size: var(--lead);
  line-height: 1.5;
  word-wrap: break-word;
}

strong {
  font-weight: 700;
}

small {
  font-size: var(--caption);
}

em {
  font-style: italic;
}

ul,
ol {
  margin: 2rem auto;
  padding-left: 2rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin: 20px 0;
  line-height: 1.4;
}

li * {
  line-height: 1em; /* Bold font line-height fix */
}

img {
  display: block;
  max-width: 100%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  background-image: none;
  font-weight: 900;
  letter-spacing: normal;
  text-decoration: none !important;
  word-wrap: break-word;
  word-spacing: normal;
}

h1 {
  font-size: var(--heading);
  line-height: 1.25;
}

strong {
  color: rgb(var(--white));
}

a {
  color: rgb(var(--white));
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(var(--white), .35);
  text-underline-offset: 3px;
}

a:hover {
  color: var(--primary);
  text-decoration-color: var(--primary);
  transition: color .2s ease, text-decoration-color .2s ease;
}

main {
  max-width: 910px;
  margin: 0 var(--gutter);
}

header {
  position: relative;
  padding: 5rem 0;
}

footer {
  padding: 2rem 0;
}

.embeddable-buttondown-form {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--blue-dark);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 740px) {
  .embeddable-buttondown-form {
    padding: 2rem;
    flex-direction: row;
  }
}

input {
  padding: 1rem;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  flex: 1 1 auto;
}

input[type="submit"] {
  background-color: var(--accent);
  color: rgb(var(--white));
  
  transition: background-color .2s ease;
  -webkit-appearance: none;
}

@media screen and (min-width: 740px) {
  input[type="submit"] {
    max-width: 30%;

  }
}

input[type="submit"]:hover {
  --accent: #688eee;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  position: absolute;
  margin-left: calc(var(--gutter) * -1);
}

.logo-text {
  padding-left: calc(52px - var(--gutter));
}

.gradient {
  background: -webkit-linear-gradient(#79F5F6, #7FED76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
