<header class="c-header u-flexbox u-flexbox-items-center u-flexbox-justify-between">
    <div class="c-logo u-flexbox u-flexbox-items-center">
      <img class="u-m-right-size-16" src="/assets/images/designabile.svg" alt="Designabile" title="Designabile - Francesco Improta webiste">
      Designabile
    </div>
    <nav class="c-nav">
      <ul class="u-flexbox u-list-reset">
        <li class="c-nav__item">
          <a href="/about/">about</a>
        </li>
        <li class="c-nav__item">
          <a href="/projects/">projects</a>
        </li>
        <li class="c-nav__item">
          <a href="">workshops</a>
        </li>
        <li class="c-nav__item">
          <a href="">blog</a>
        </li>
      </ul>
    </nav>
  </header>