.c-hero {
  min-height: 60vh;
  padding:  0;
}

.c-header {
  padding-top: 2rem;
}

.c-section {
  display: flex;
  flex-flow: column;

  @media screen and (min-width: 600px){
    flex-flow: row;
    align-items: center;
  }
}

.c-section__item {
  flex: 0 1 50%;
}

.c-nav__item {
  margin: 0 1rem;
  font-weight: 500;
  color: $color-primary;
}