body,
html {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
}

body {
  margin: 0;
  min-height: 100vh;
}

footer {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

a {
  position: relative;
}

a, a:visited {
  color: $color-primary;
  text-decoration: none;

  &::after {
    background-color: darken($color-primary, 10%);
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width .2s ease;
  }
}

a:hover {
  color: darken($color-primary, 10%);

  &::after {
    width: 100%;
  }
}