<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  {% include header.html %}

  <section>
    <h1>Design web experiences</h1>
    <h2>Hi! I'm Francesco Improta, a web designer, teacher, speaker located in Rome, Italy.</h2>
  </section>

  <section>
    <h3>Work I do</h3>
    <p>
      Helping organizations design and build better web experience.
      Currently working as Head of Design at Citynews.
    </p>
  </section>
  <section>
    <h3>Workshops and training</h3>
    <p>
      I educate designers, developers about design system, atomic design and modern web design workflow. I offer a 
       <a href="#">full-day workshop on Design Systems</a> organized by <a href="#">UXUniversity</a>. 
       Occasionally I talk about design at conferences and events.
    </p>
  </section>
  <section>
    <h3>Side projects</h3>
    <p>
      I have some fun creating side projects on my own. Front-end tools, blogs about design and more. If you're interested
      in collaborating feel free to contact me.
    </p>
  </section>

  {% include footer.html %}

</body>
</html>