<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <h1 class="c-logo">Designabile</h1>
    <nav class="c-nav">
      <ul class="o-list u-reset">
        <li>
          <a class="c-nav__item" href="">about</a>
        </li>
        <li>
          <a class="c-nav__item" href="">blog</a>
        </li>
        <li>
          <a class="c-nav__item" href="">work</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <section>
        
  </section>
</body>
</html>