{% include head.html %}

{% include header.html %}

<main class="o-wrapper">

  <section class="c-hero">
    <p class="o-lead"><strong>Hello!</strong> My name is Francesco Improta. I'm a designer, author, speaker and dad in
      real life. I'm currently head of design at <a href="https://www.citynews.it">Citynews</a>. Previously, I co-founded <a
        href="https://robodomain.com">Robodomain</a> and worked for a lot of organizations designing
      digital products for the web. <strong>Designabile</strong> was my own design studio name. Now, it's just my website and <a href="/blog.html">blog</a>.</p>
    <img class="c-hero__photo" src="/assets/images/designabile-background.jpg" alt="" title="">
  </section>

  <section class="c-section">
    <h2 class="c-section__item o-columbian o-color-primary">Work I do</h2>
    <p class="c-section__item">
      Help organizations design and build better web experiences.
      Currently working as Head of Design at Citynews.
    </p>
  </section>

  <section class="c-section">
    <h2 class="c-section__item o-columbian o-color-primary">Workshops &amp; training</h2>
    <p class="c-section__item">
      I educate designers, developers, project managers and stakeholders about Design Systems, Atomic Design and modern
      web design workflow. I offer a <a href="#">full-day workshop</a> in collaboration with <a href="#">UXUniversity</a>.
      Occasionally I talk about design at conferences and events.
    </p>
  </section>

  <section class="c-section">
    <h2 class="c-section__item o-columbian o-color-primary">Projects</h2>
    <p class="c-section__item">
      I have some fun creating side projects on my own. Front-end tools, blogs about design and more. If you're
      interested in collaborating feel free to contact me.
    </p>
  </section>

</main>

{% include footer.html %}